body{
    max-width: 1280px;
    margin: auto;
}
.cursive-bold{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}
.carousel-after::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
}
.logo-size{
    font-size: 1.5em !important;
}
.cor-texto-1{
    color: darkred !important;
}